<div><label>Class History of past 30 days</label></div>
<br>
<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
<div class="mat-elevation-z8">
    
    <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort>

  
      <ng-container matColumnDef="classDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Date </th>
        <td mat-cell *matCellDef="let element"> {{element.classDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
        <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
      </ng-container>

       <ng-container matColumnDef="teacherName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </th>
        <td mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td  mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>