<div *ngIf="userRole == 2" class="mat-elevation-z8 quiz-button">
    <a routerLink='/College/CreateQuiz'>Create Quiz</a>
  </div>
  <div id="title-header">
      <h2>Subject Wise Quiz Page</h2>
  </div>

<div class="mat-elevation-z8" *ngFor="let subject of quizDetails; let i = index;">
<div *ngIf="subject.quizDetails.length>0"
    class="subject-box"[ngClass]="{'full-subject-box':quizDetailsShow[i] ,'!subject-box':quizDetailsShow[i]}">
    <div class="subject-name" (click)="subjectQuizClick(i)">
        <strong>{{subject.subjectName}}</strong>
    </div>
    <div  *ngFor="let quiz of subject.quizDetails">
        <div class="quiz-box mat-elevation-z8">
            <strong class="quiz-label">{{quiz.quizLabel}}</strong>
            <b class="marks-text" *ngIf="quiz.quizTaken && userRole == 1">{{quiz.marks}}/{{quiz.totalMarks}}</b>
            <a routerLink="/College/Quiz/{{quiz.quizID}}" class="take-quiz-anchor" *ngIf="!quiz.answersProvided && userRole == 2">Add Answers</a>
            <a routerLink="/College/Quiz/{{quiz.quizID}}" class="take-quiz-anchor" *ngIf="quiz.answersProvided && userRole == 2">See Answers</a>
            <a routerLink="/College/Quiz/{{quiz.quizID}}" class="take-quiz-anchor" *ngIf="!quiz.quizTaken && userRole == 1">Take Quiz</a>
            <a routerLink="/College/Quiz/{{quiz.quizID}}" class="take-quiz-anchor" *ngIf="quiz.quizTaken && userRole == 1">Check</a>
        </div>
    </div>
</div>
</div>
