.quiz-button{
    margin: 10px 0px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(78, 179, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:#0a6075e0;;
}
#title-header{
    display: flex;
    justify-content: center;
    color: #1969bd94;;
}
.subject-box{
    /* min-height: 50px; */
    /* max-height: 50px; */
    margin: 10px 0px;
    overflow: hidden;
    transition: min-height 0.5s;
    -webkit-transition: min-height 0.5s;
    /* border: 1px solid rgb(97, 147, 238); */
    /* border-radius: 5px; */

}
.full-subject-box{
    /* min-height: 110px; */
    margin: 10px 0px;
    overflow: hidden;
    transition: min-height 0.5s;
    -webkit-transition: min-height 0.5s;
    /* border: 1px solid rgb(97, 147, 238); */
    /* border-radius: 5px; */
}

.subject-name{
    cursor: pointer;
    background-color: rgba(195, 40, 40, 0.52);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #880200db;
}
.quiz-box{
    width: 95%;
    min-height: 30px;
    background-color: rgba(93, 158, 155, 0.55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px 3px;
    /* border-radius: 5px; */
}
.quiz-label, .marks-text, .take-quiz-anchor{
    color: #1c5d5ba1;;
}
.take-quiz-anchor{
    height: 20px;
    cursor: pointer;
    text-decoration: none;
}
