
<div id="start-page">
  <div>
      <router-outlet></router-outlet>
      <div id="login-signup-box">
          <mat-card *ngIf="!loginView">
              <mat-card-title class="btn-title"><a routerLink="/SignIn" (click)="showButton()" class="anchor-button">Login</a></mat-card-title>
          </mat-card>
          <mat-card *ngIf="loginView">
              <mat-card-title class="btn-title"><a routerLink="/SignUp" (click)="showButton()" class="anchor-button">SignUp</a></mat-card-title>
          </mat-card>
      </div>
  </div>
</div>