#start-page{
    width:100%;
    min-height:100%;
    background-image: url('../../assets/ggk-bg.jpg');
    background-attachment: fixed;  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn-title{
        text-align: center;
    }
    #login-signup-box{
        margin: 10px;
    }
    .anchor-button{
        cursor: pointer!important;
        color: lightcoral;
    
    }
    input{
        width: 300px;
    }
    