/* #clock{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    position: relative;
}
#one, #two, #three,#four, #five, #six{
height: 100%;
width: 1px;
background-color: black;
position: absolute;
transition: transform 0.5s;
transform: rotate(0deg);
-webkit-transition: transform 2s;
}
#two:hover{
    transform: rotate(30deg);
}
#three{
    transform: rotate(60deg);
}
#four{
    transform: rotate(90deg);
}
#five{
    transform: rotate(120deg);
}
#six{
    transform: rotate(150deg);
}

#hour{
    width: 0;
    height: 0;
    border-top: 250px solid rebeccapurple;
    border-bottom: 250px solid darkgrey ;
    border-right: 250px solid  transparent;
    border-left: 250px solid transparent;
    border-radius: 50%;
    transform: rotate(45deg);
    position: absolute;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    
} */
#date-container{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#department-box{
    width:33%;
}
#current-time{
    width:33%;
}
#date-box{
    width:33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#date{
    width: 250px;
}
#time-table-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    position: relative;
    width: 90%;
    margin: 10px;
    /* box-shadow: 2px -2px 5px gray, -2px 2px 5px gray,  2px 2px 5px gray; */
}
thead{
    background-color: rgba(230, 145, 145, 0.65);
}

tr{
    box-shadow: 1px 1px 3px rgb(214, 213, 213), -1px -1px 3px rgb(214, 213, 213), -1px -1px 3px rgb(214, 213, 213), 1px -1px 3px rgb(214, 213, 213);
}
td{
   text-align: center;
}
table, thead,tr,th,td{
    /* border: 1px solid; */
    border-collapse: collapse;
    height: 50px;
    /* border-radius: 10px; */

}

thead, thead tr th{
    background-color: rgba(230, 145, 145, 0.65);
    position: sticky;
    top: 0;
}
th{
    height: 60px;
}
.teacher-time-table-grid{
    width: 70%;
}
#attendance-container{
    
    width: 30%;
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
#attendance-container::-webkit-scrollbar { width: 0 !important }
tfoot  td{
    background-color: rgba(230, 145, 145, 0.65);
    position: sticky;
    top: 700px;
}



