<!-- <div id="clock">
    <div id="one"></div>
    <div id="two"></div>
    <div id="three"></div>
    <div id="four"></div>
    <div id="five"></div>
    <div id="six"></div>
    <div id="hour"></div>
    <div id="hour"></div>

</div>
<div style="width: 300px!important;height: 300px!important;">
        <canvas
        
         baseChart
                [datasets]="pieChartDataSets"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [legend]='false'></canvas>
      </div> -->
<div style="width: 100%;">
        <div id="date-container">
                <div *ngIf="!isTeacher" id="department-box">
                        <strong>Department: </strong>
                        <label>{{departmentName}}</label>
                </div>
                <div id="current-time">
                        <span>{{currentTime}}</span>
                        </div>
                <div id="date-box">
                        <label>{{selectedDate.toDateString()}}</label>
                        <div id="date">
                                <mat-form-field id="date-input-field">
                                    <input  matInput [matDatepicker]="myDatepicker" [(ngModel)]="selectedDate" (ngModelChange)="getTimeTableDetails()">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>                    
                                </mat-form-field>
                        </div>
                 </div>
        </div>
        <div id="time-table-container" *ngIf="!isTeacher">
                <table *ngIf="timeTable">
                        <thead>
                                <tr>
                                <th>Class Time</th>
                                <th>Subject</th>
                                <th>Lecturer</th>
                                <th>Status</th>
                                <!-- <th>Attended</th> -->
                                <th>Details</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of timeTable">
                                        <td>{{getPeriodTimings(item.From.hours,item.To.hours)}}</td>
                                        <td>{{item.subjectName}}</td>
                                        <td>{{item.teacherName}}</td>
                                        <td>{{periodStatus(item.From.hours,item.From.minutes,item.To.hours,item.To.minutes)}}</td>
                                        <!-- <td></td> -->
                                        <td>...</td>
                                </tr>
                        </tbody>
                </table>
                <div *ngIf="!timeTable">
                        <span>{{'TimeTable.NoClassesToday' | translate }}</span>
                </div>
        </div>
        
        <div id="time-table-container" *ngIf="isTeacher">
                <table [ngClass]="{'teacher-time-table-grid':viewAttendance}" *ngIf="teahcerTimeTable">
                        <thead>
                                <tr>
                                <th>{{'TimeTable.ClassTime' | translate}}</th>
                                <th>{{'TimeTable.ClassName' | translate}}</th>
                                <th>{{'TimeTable.LectureOn' | translate}}</th>
                                <th>{{'TimeTable.Status' | translate}}</th>
                                <th>{{'TimeTable.Attendance' | translate}}</th>
                                <th>{{'TimeTable.LectureDetails' | translate}}</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of teahcerTimeTable">
                                        <td>{{getPeriodTimings(item.From.hours,item.To.hours)}}</td>
                                        <td>{{item.className}}</td>
                                        <td>{{item.subjectName}}</td>
                                        <td *ngIf="item.className != '-'">{{periodStatus(item.From.hours,item.From.minutes,item.To.hours,item.To.minutes)}}</td>
                                        <td *ngIf="item.className == '-'">-</td>
                                        <td *ngIf="item.className != '-' && (periodStatus(item.From.hours,item.From.minutes,item.To.hours,item.To.minutes) == 'Completed')">
                                        <div>
                                                <button *ngIf="!item.isAttendanceTaken" (click)="getStudentsListForAttendance(item)" >Add</button>
                                                <button *ngIf="item.isAttendanceTaken" (click)="getClassAttendance(item)" >Edit</button>
                                        </div>
                                        </td>
                                        <td *ngIf="item.className == '-'">-</td>
                                        <td *ngIf="item.className != '-'">...</td>
                                        <td *ngIf="item.className == '-'">-</td>
                                        <td *ngIf="attendaneFlag">chandhan</td>
                                </tr>
                        </tbody>
                </table>
                <div id="attendance-container" *ngIf="viewAttendance">
                        <!-- <h3 id="attendance-header">Attendance</h3> -->
                        <table id="attendance-table">
                                <thead>
                                        <tr>
                                                <th>S.No</th>
                                                <th>Student ID</th>
                                                <th>Student Name</th>
                                                <th>Attended</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let item of studentsAttendanceList; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{item.studentID}}</td>
                                                <td>{{item.studentName}}</td>
                                                <td><input type="checkbox" name="student{{i}}" value="1" [(ngModel)]="item.attended" (click)="countAttendedValue()"></td>
                                        </tr>
                                </tbody>
                                <tfoot style="position: sticky;">
                                        <tr>
                                                <td>Total: {{studentsAttendanceList.length}}</td>
                                                <td>Attended: {{attendedStudentCount}}</td>
                                                <!-- <td ></td> -->
                                                <td><button (click)="saveClassAttendance()">Save</button></td>
                                                <td><button (click)="viewAttendance=!viewAttendance">Close</button></td>
                                        </tr>
                                      </tfoot>
                        </table>
                </div>
                <div *ngIf="!teahcerTimeTable">
                        <span>{{'TimeTable.NoLecturesToday' | translate }}</span>
                </div>
        </div>
</div>


