<div id="user-profile">
<header>
    <div id="left-header-content">
        <div id="menu-icon" (click)="showFullMenu()">
            <div >
                <div class="menu-icon-bar"></div>
                <div class="menu-icon-bar"></div>
                <div class="menu-icon-bar"></div>
            </div>
        </div>
        <div id="app-logo">
            <h3>GGK College
                </h3>
        </div>
    </div>
    <div id="language-container">
        <mat-form-field>
            <mat-label>{{'MainHeader.Language' | translate}}</mat-label>
            <mat-select [(ngModel)]="selectedLanguage" (ngModelChange)="changeLanguage()">
              <mat-option *ngFor="let lang of languages" [value]="lang.value">
                  {{lang.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div id="profile-icon">
        <button id="user-icon" (click)="userIconClick = !userIconClick">{{userIconLabel}}</button>
        <div class="mat-elevation-z8" id="logout-card" *ngIf="userIconClick">
                <mat-card >
                    <mat-card-content>
                      <b style="cursor: pointer" (click)="logout()">LogOut</b>
                    </mat-card-content>
                 </mat-card>
        </div>
    </div>
</header>
<div id="body-container">
    <div [ngClass]="{'nav-bar':!showMenu && !hideMenu,'full-nav-bar':showMenu && !hideMenu,'no-nav-bar':hideMenu}">
        <div  [ngClass]="{'nav-content':!showMenu && !hideMenu,'nav-content-full':showMenu && !hideMenu,'no-nav-content':hideMenu}" >
           <div *ngFor="let menuItem of userMenuItems">
                <a  routerLink="{{menuItem.menuPath}}" class="menu-item" >
                    <i class="menu-icon fa fa-bullhorn " aria-hidden="true"></i>
                    <span [ngClass]="{'menu-name':!showMenu, 'menu-name-display':showMenu}">
                        {{menuItem.JSONName | translate}}</span>
                </a>
           </div>
        </div>
    </div>
    <div id="body-content" >
         <router-outlet #childComponent></router-outlet>
    </div>
</div>
<footer>
    <!-- <div id="menu-toggle-box">
        <i *ngIf='hideMenu' id="menu-toggle-icon" class="fa fa-caret-square-o-right" aria-hidden="true" (click)="hideMenu=!hideMenu;showMenu=false" ></i>
        <i *ngIf='!hideMenu' id="menu-toggle-icon" class="fa fa-caret-square-o-left" aria-hidden="true" (click)="hideMenu=!hideMenu;showMenu=false" ></i>
    </div> -->
    <div id="menu-toggle-box">
        <mat-slide-toggle 
        id="menu-toggle-icon"
        [checked]='toggleMenuFlag' [(ngModel)]='toggleMenuFlag'
        (change)="toggleMenuChange()">
        </mat-slide-toggle>
    </div>
    <h3 id="user-name">{{userName}}</h3>
</footer>
</div>