#user-profile{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    height:60px;
    background-color: #206b60b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#left-header-content{
    width: 400px;
    display: flex;
    align-items: center;
}
#menu-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#user-icon{
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: repeat-y;
    margin-right: 15px;
}
.menu-icon-bar{
    width: 40px;
    height: 5px;
    background-color: silver;
    margin: 5px 0;

}
/* #app-logo{

} */
#profile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logout-card{
    position: absolute ;
    right:80px;
    
    z-index: 1;
    color: #61968e;
}
#user-icon-name{
    color: #61968e;
}
button{
    padding: 10px;
}
footer{
    height:40px;
    width: 100%;
    background-color: #206b60b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#user-name{
    padding-right: 15px;
}
#body-container{
    height: 100%;
    display: flex;
}
#body-content{
    width: 100%;
    height: 97%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: rgb(207, 28, 28); */
    /* display: flex; */

}
.no-nav-bar{
    width: 0px;
    background-color: darkgrey;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.nav-bar{
    width: 50px;
    background-color: darkgrey;
    transition: width 0.5s;
    z-index: 1;
    -webkit-transition: width 0.5s;
}
.full-nav-bar{
    width: 310px;
    background-color: darkgrey;
    transition: width 0.5s;
    z-index: none;
    -webkit-transition: width 0.5s;
}
/* #nav-bar:hover{
} */
.no-nav-content{
    width: 0px;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.nav-content{
    width: 50px;
    height: 100%;
    background-color: darkgrey;
    transition: width 0.5s;
    overflow: hidden;
    -webkit-transition: width 0.5s;
}
.nav-content-full{
    width: 254px;
    height: 100%;
    overflow: hidden;
    background-color: darkgrey;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
.nav-content:hover{
    width: 254px;
}
#menu-toggle-box{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#menu-toggle-icon{
    font-size: 2em;
    color:goldenrod;
    
}

.menu-item{
    display: inline-block;
    height: 30px;
    padding: 15px 10px;
    white-space: nowrap!important;
}
.menu-icon{
    font-size: 1.3em;
    color: #2d6960
}
.menu-name{
    display: none;
    padding-left: 5px;
    overflow: hidden;
    transition: display 5s;
    -webkit-transition: display 5s;
    color: #2d6960
}
.menu-name-display{
    display: inline;
    padding-left: 5px;
    overflow: hidden;
    transition: display 5s;
    -webkit-transition: display 5s;
    color: #2d6960

}
.nav-content:hover .menu-name{
    display: inline;
}
a label{
    cursor: pointer;
    text-decoration: none;
}


