<div id="page-header">
    <div class="mat-elevation-z8 quiz-button">
        <a routerLink='/College/Quiz'>Go To Quiz Page</a>
      </div>   
      <div>
          <h2>Quiz Creation Page</h2>
      </div>        
      <div>
        <button class="mat-elevation-z8 quiz-button create-button" (click)="createQuiz()">Create</button>
    </div>
</div>
<div *ngIf="!quizAdded" id="quiz-container" class="mat-elevation-z8">
        <div id="quiz-header">
            <div id="quiz-subject">
                    <mat-form-field>
                            <mat-label>Subject</mat-label>
                            <mat-select [(ngModel)]="quiz.subjectID">
                              <mat-option *ngFor="let subject of teacherSubjects"  [value]=subject.subjectID>
                                    {{subject.subjectName}}
                              </mat-option>
                              
                            </mat-select>
                          </mat-form-field>
                            <div class="validation-error-box" *ngIf="!quiz.subjectIDValidationFlag">
                                <mat-error  >{{quiz.subjectIDValidationMessage}}</mat-error>
                            </div>
            </div>
            <div id="quiz-name">
                    <mat-form-field>
                            <input 
                            matInput
                            type="text" 
                            placeholder="Quiz Name"
                            [(ngModel)]="quiz.quizLabel">
                            </mat-form-field>
                            <div class="validation-error-box" *ngIf="!quiz.quizLabelValidationFlag">
                                <mat-error  >{{quiz.quizLabelValidationMessage}}</mat-error>
                            </div>
            </div>
            <div id="quiz-marks">
               
            <mat-form-field>
                <input 
                matInput
                type="number" 
                placeholder="Marks"
                [(ngModel)]="quiz.totalMarks">
            </mat-form-field>
            <div class="validation-error-box" *ngIf="!quiz.totalMarksValidationFlag">
                <mat-error  >{{quiz.totalMarksValidationMessage}}</mat-error>
            </div>
            </div>
        </div>
        <div class="validation-error-box" *ngIf="!quiz.sectionsValidationFlag">
            <mat-error  >{{quiz.sectionsValidationMessage}}</mat-error>
        </div>
        <div>
                <div id="quiz-container">
                        <div  class="quiz-section-box" *ngFor="let section of quizSection; let i = index">
                            <div class="quiz-section-container mat-elevation-z8">
                                    <div class="quiz-section-header">
                                            <div class="quiz-section-name">
                                                <!-- <label>Section Name: </label> -->
                                                <mat-form-field>
                                                <input 
                                                matInput
                                                type="text" 
                                                id="section{{i}}-name"
                                                placeholder="Section Name"
                                                [(ngModel)]="section.sectionLabel">
                                                </mat-form-field>
                                                <div class="validation-error-box" *ngIf="!section.sectionLabelValidationFlag">
                                                    <mat-error  >{{section.sectionLabelValidationMessage}}</mat-error>
                                                </div>
                                            </div>
                                            <div>
                                                {{section.sectionLabel}}
                                            </div>
                                            <div class="quiz-section-weightage">
                                                <!-- <label>Weightage: </label> -->
                                                <div class="validation-error-box" *ngIf="!section.weightageValidationFlag">
                                                        <mat-error  >{{section.weightageValidationMessage}}</mat-error>
                                                </div>
                                                <mat-form-field>
                                                    <input 
                                                    matInput
                                                    type="number" 
                                                    id="section{{i}}-weightage"
                                                    placeholder="Weightage"
                                                    [(ngModel)]="section.weightage">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="validation-error-box" *ngIf="!section.questionsValidationFlag">
                                                <mat-error  >{{section.questionsValidationMessage}}</mat-error>
                                        </div>
                                        <div class="quiz-section-question-box" *ngFor="let question of section.questions; let j = index">
                                            <div class="quiz-section-question-container mat-elevation-z8">
                                                <div class="quiz-section-question">
                                                    <div class="quiz-section-question-desc">
                                                        <mat-form-field>
                                                        <input class="question-input" 
                                                        matInput
                                                        type="text"
                                                        id="section{{i}}question{{j}}" 
                                                        placeholder="Question"
                                                        [(ngModel)]="question.questionDescription">
                                                        </mat-form-field>
                                                        <div class="validation-error-box" *ngIf="!question.questionDescriptionValidationFlag">
                                                                <mat-error  >{{question.questionDescriptionValidationMessage}}</mat-error>
                                                        </div>
                                                    </div>
                                            
                                                    <div class="quiz-section-question-type">
                                                            <mat-form-field>
                                                            <mat-label>Question Type</mat-label>
                                                            <mat-select [(ngModel)]="question.questionType">
                                                              <mat-option  [value]=1>
                                                                    Radio Type
                                                              </mat-option>
                                                              <mat-option  [value]=2>
                                                                    ComboBox Type
                                                              </mat-option>
                                                            </mat-select>
                                                          </mat-form-field>
                                                          <div class="validation-error-box" *ngIf="!question.questionTypeValidationFlag">
                                                                <mat-error  >{{question.questionTypeValidationMessage}}</mat-error>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="validation-error-box" *ngIf="!question.questionOptionsValidationFlag">
                                                        <mat-error  >{{question.questionOptionsValidationMessage}}</mat-error>
                                                </div>
                                                <div class="quiz-section-question-options-container">
                                                    <div class="quiz-section-question-options-box" *ngFor="let option of question.questionOptions; let j = index">
                                                        <div class="quiz-section-question-options">
                                                                <input class="option-value " type="text" id="section{{i}}question{{j}}radiooption{{k}}" [(ngModel)]="option.optionLabel">
                                                                <span class="option-remove-icon" (click)="removeSectionQuestionOption(section.sectionID, question.questionID, option.optionID)">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </span>
                                                        </div>
                                                        <div class="validation-error-box" *ngIf="!option.optionLabelValidationFlag">
                                                                <mat-error  >{{option.optionLabelValidationMessage}}</mat-error>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="new-question-option-button add-button">
                                                    <button (click)="addSectionQuestionOption(section.sectionID, question.questionID)">Add Option</button>
                                                </div>
                                            </div>
                                            <span class="question-remove-icon" (click)="removeSectionQuestion(section.sectionID, question.questionID)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </span>
                                        </div>
                                        <div class="new-question-button add-button">
                                            <button  (click)="addSectionQuestion(section.sectionID)">Add Question</button>
                                        </div>
                                </div>
                                <span class="section-remove-icon" (click)="removeSection(section.sectionID)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                </span>
                            </div>
                        <div class="add-button" >
                            <button  (click)="addSection()">Add Section</button>
                        </div>
                </div>
                

        </div>
    </div>
