#page-header{
    display: flex;
    justify-content: space-between;
}
.quiz-button{
    margin: 10px 0px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(78, 179, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-button{
    background-color: rgba(46, 218, 107, 0.78);
    color: #016716a8;
}
a{
    color: #214a5a;
    font-size: 1em;

}
button{
    background: none;
    border: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: #214a5a;
}
#quiz-container{
    /* min-height: 150px ; */
    display: flex;
    flex-direction: column;
}
#quiz-header{
    background-color: #ad474cab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-section-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.quiz-section-container{
    width:95%;
    /* border: 1px solid black; */
    margin: 5px 10px;
}
.quiz-section-header{
    display: flex;
    width:100%;
    height:70px;
    background-color: rgb(202, 204, 203);
    justify-content: space-between;
    align-items: center;
}
.quiz-section-name, .quiz-section-weightage{
    display: flex;
    align-items: center;
}
.validation-error-box{
    background: rgb(200, 42, 42);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    text-align: center;
}
.mat-error{
    color: white;
}
.quiz-section-question-box{
    width:100%;
    display: flex;
    justify-content: space-around;

}
.quiz-section-question-container{
    width:95%;
    /* border: 1px solid black; */
    margin: 5px;
}
.quiz-section-question{
    display: flex;
    width:100%;
    min-height: 30px;
    background-color: rgb(139, 190, 144);
    justify-content: space-between;
    align-items: center;
}
.quiz-section-question-desc{ 
    width: 60%;
}
.quiz-section-question-desc .mat-form-field{ 
    width: 100%;
}
.question-input{
    width: 100%!important;
}
.quiz-section-question-options-container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;

}
.quiz-section-question-options-box{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.quiz-section-question-options{
    padding: 2%;
    width: 92%;
    display: flex;
    justify-content: space-evenly;

}
.option-remove-icon, .question-remove-icon, .section-remove-icon{
    cursor: pointer;
}
.new-question-button{
    height:50px;
    display: flex;
    align-items: center;
}
.validation-tooltip{
    background-color: rgba(243, 2, 2, 0.781);
    font-size: medium;
}
.mat-focused .mat-form-field-label {
    /*change color of label*/
    color:  rgb(179, 231, 8) !important;
   }
  
   .mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(179, 231, 8) !important;
  } 
  
  .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color:  rgb(179, 231, 8) !important;
  }

  .add-button{ 
    margin: 10px 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(202, 204, 203);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-question-button{
    background-color: rgb(139, 190, 144);
  }
  .new-question-option-button{
    background-color: rgba(41, 132, 210, 0.36);
  }
  .option-value{
      width: 90%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: rgba(41, 132, 210, 0.36)!important;
  }
 