<div>
        <div id="screen-heading">
                <h2>Lecture Notes</h2>
        </div>
    <div id="date-container">
        <!-- <div *ngIf="!isTeacher" id="department-box">
                <strong>Department: </strong>
                <label>{{departmentName}}</label>
        </div> -->
        

        <div id="date-box">
                <label>{{selectedDate.toDateString()}}</label>
                <div id="date">
                        <mat-form-field id="date-input-field">
                            <input  matInput [matDatepicker]="myDatepicker" [(ngModel)]="selectedDate" (ngModelChange)="userRole==2?getLectureNotes():getLectureNotesForStudent()">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>                    
                        </mat-form-field>
                </div>
         </div>
         <div *ngIf="message">
                <mat-error *ngFor="let item of message">
                        {{message}}
                </mat-error>
        </div>
</div>  
<div class="mat-elevation-z8">
    
        <label *ngIf="!lectureNotes">No Lectures for the day</label>
        <table *ngIf="lectureNotes" style="width: 100%;" mat-table [dataSource]="dataSource" >

      
          <ng-container matColumnDef="subjectName">
            <th class="table-header" mat-header-cell *matHeaderCellDef > Subject </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
          </ng-container>
    
           <ng-container *ngIf="userRole==2" matColumnDef="departmentName">
            <th class="table-header" mat-header-cell *matHeaderCellDef > Department </th>
            <td class="table-cell" mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
          </ng-container>

          <ng-container  *ngIf="userRole==1" matColumnDef="teacherName">

                <th class="table-header" mat-header-cell *matHeaderCellDef > Teacher </th>
                <td class="table-cell" mat-cell *matCellDef="let element"> {{element.teacherName}} </td>
          </ng-container>
      
          <ng-container *ngIf="userRole==2" matColumnDef="notes">
            <th class="table-header" mat-header-cell *matHeaderCellDef > Notes </th>
            <td class="table-cell" mat-cell *matCellDef="let element; let i = index"> 
                    <pre *ngIf="element.notes && !editFlag[i]">{{element.notes}}</pre>  
                    <button *ngIf="addNotes[i]" (click)="addNotes[i]=!addNotes[i]">Add</button>
                    <div  *ngIf="!addNotes[i] || element.notes">
                            <textarea *ngIf="editFlag[i] || !element.notes" class="notes-input" [(ngModel)]="editNotes[i]"> </textarea>
                            <div>
                                    <button *ngIf="!editFlag[i] && element.notes" (click)="editLectureNotes(i)">Edit</button>
                                    <div>
                                        <button *ngIf="editFlag[i] || !element.notes" (click)="saveNotes(i)">Save</button>
                                        <button *ngIf="editFlag[i] || !element.notes" (click)="revertNotes(i)">Cancel</button>
                                    </div>
                            </div>
                    </div>
            </td>
          </ng-container>

          <ng-container  *ngIf="userRole==1" matColumnDef="notes">
                <th class="table-header" style="padding-left: 30px;" mat-header-cell *matHeaderCellDef > Notes </th>
                <td class="table-cell" style="padding-left: 30px;"  mat-cell *matCellDef="let element; let i = index"> 
                        <pre *ngIf="element.notes">{{element.notes}}</pre>  
                        <pre *ngIf="!element.notes">Not Added</pre>  
                </td>
              </ng-container>
      

          <div *ngIf="userRole==1">
                <tr mat-header-row *matHeaderRowDef="displayedColumnsForStudent"></tr>
                <tr  mat-row *matRowDef="let row; columns: displayedColumnsForStudent;"></tr>
          </div>
          <div *ngIf="userRole==2">
                <tr mat-header-row *matHeaderRowDef="displayedColumnsForTeacher"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsForTeacher;"></tr>
        </div>
        </table>
      
      </div>
</div>

<div>
     <pre> {{note}}</pre>  
</div>