#signup-header{
    width:300px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.form-element{
    display: flex;
    flex-direction: column;
}
.mat-card{
    height:700px
}
button{
    background-color: slategray;
    margin: 2px;
}