<div class="transparent-form">
    <mat-card>
        <div id="signup-header">
            <mat-card-title *ngIf="!isTeacher">Student Account</mat-card-title>
            <mat-card-title *ngIf="isTeacher">Teacher Account</mat-card-title>
            <div >
                <mat-slide-toggle 
                class="signup-form-header-element"
                [checked]='isTeacher' [(ngModel)]='isTeacher'>
                </mat-slide-toggle>
            </div>
        </div>
    <mat-card-content>
        <div *ngIf="!isTeacher">
                <mat-label>Department</mat-label>
                <mat-select [(ngModel)]="departmentID">
                  <mat-option  [value]="1">
                        ECE
                  </mat-option>
                </mat-select>
        </div>
        <mat-vertical-stepper [linear]="" #stepper>
            <mat-step [stepControl]="signUpForm">
                <form class="form-element" [formGroup]="signUpForm">
                    <ng-template matStepLabel>Basic Details</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="First name" formControlName="firstName" required>
                     </mat-form-field>
                     <mat-form-field>
                            <input matInput placeholder="Last name" formControlName="lastName" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="Email" formControlName="emailID" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput [type]="'password'" placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="signUpForm">
                <form class="form-element" [formGroup]="signUpForm">
                    <ng-template matStepLabel>Address Details</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Address Details" formControlName="addressDetails" required>
                     </mat-form-field>
                     <mat-form-field>
                            <input matInput placeholder="Area" formControlName="addressArea" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="City" formControlName="city" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="State" formControlName="state" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="Pincode" formControlName="pincode" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="signUpForm">
                    <form class="form-element" [formGroup]="signUpForm">
                        <ng-template matStepLabel>Education Details</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="School Percentage(%)" formControlName="schoolPercentage" required>
                         </mat-form-field>
                         <mat-form-field>
                                <input matInput placeholder="Intermediate Percentage(%)" formControlName="interPercentage" [required]="isTeacher">
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput placeholder="BachelorDegree Percentage(%)" formControlName="ugPercentage" [required]="isTeacher">
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button *ngIf="isTeacher" matStepperNext>Next</button>
                            <button mat-button *ngIf="!isTeacher" (click)="createAccount()">CreateAccount </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="signUpForm" *ngIf="isTeacher">
                        <form class="form-element" [formGroup]="signUpForm">
                            <ng-template matStepLabel>Experience Details</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Subject" formControlName="subject" >
                             </mat-form-field>
                             <mat-form-field>
                                    <input matInput placeholder="Previous Experience" formControlName="teacherExperience" >
                                 </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)=createAccount()>CreateAccount</button>
                            </div>
                        </form>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</div>