#main-header{
    display: flex;
    justify-content: space-between;
}
a{
    color: #214a5a;
    font-size: 1em;

}
.back-button{
    margin: 10px 0px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(78, 179, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background: none;
    border: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1em;
    cursor: pointer;
    color: #214a5a;
}
#quiz-header{
    background-color: #6da8b9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
#quiz-subject, .quiz-section-number{
    margin-left: 5px;
}
#quiz-marks, .quiz-section-weightage{
    margin-right: 5px;
}
.quiz-body{
    widows: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quiz-section-container{
    width:95%;
    /* border: 1px solid black; */
    margin: 10px 0px;
    border-radius: 5px;
}
.quiz-section-header{
    display: flex;
    width:100%;
    height:40px;
    background-color: rgba(124, 183, 180, 0.83);
    justify-content: space-between;
    align-items: center;
}
.quiz-section-body{
    width: 100%;

}
.quiz-section-question-container{
    width:95%;
    margin: 10px;
}
.quiz-section-question-options{
    padding: 10px;
}
.quiz-option{
    padding-left: 15px;
}
/* .quiz-section-name{
    width: 50%;
    display: flex;
    justify-content: flex-end;
} */