<div id="main-header">
  <div class="mat-elevation-z8 back-button">
    <a routerLink='/College/Quiz'>Go To Quiz Page</a>
  </div>
  <div>
    <h2>Quiz Page</h2>
  </div>
  <div *ngIf="userRole==2" class="mat-elevation-z8 back-button">
    <button (click)="addQuizAnswers()">Set Answers</button>
  </div>
  <div *ngIf="userRole==1" class="mat-elevation-z8 back-button">
    <button *ngIf="!quizTaken" (click)="addStudentQuizAnswers()">Submit</button>
    <button *ngIf="quizTaken">Scored: {{studentMarks}}</button>
  </div>
</div>

<div class="mat-elevation-z8">
  <div id="quiz-header" >
    <div id="quiz-subject" >
        <label>{{quiz.subjectID}}</label>
    </div>
    <div id="quiz-name" >
              <label>{{quiz.quizLabel}}</label>
    </div>
    <div id="quiz-marks" >
        <label>Marks: {{quiz.totalMarks}}</label>
    </div>
  </div>
  <div class="quiz-body " >
    <div class="quiz-section-container mat-elevation-z8"  *ngFor="let section of quiz.sections; let i = index">
        <div class="quiz-section-header">
          <div class="quiz-section-number">
            <label>Section#{{i+1}}</label>
          </div>
          <div class="quiz-section-name">
            <label>{{section.sectionLabel}}</label>
          </div>
          <div class="quiz-section-weightage">
            <label>Weightage: {{section.weightage}}%</label>                                          
          </div>
        </div>
        <div class="quiz-section-body">
          <div class="quiz-section-question-container " *ngFor="let question of section.questions; let j = index;">
            <div class="quiz-section-question">
              <label>{{j+1}}. {{question.questionDescription}}</label>
            </div>
            <div class="quiz-section-question-options" [ngSwitch]="question.questionType">
              <div *ngSwitchCase="1" >
                <label class="quiz-option" *ngFor="let option of question.questionOptions; let k = index;">
                    <input 
                    type="radio"
                    [(ngModel)]="quizAnswers.sections[i].questions[j].radioTypeanswers"
                    name="section{{i}}question{{j}}" 
                    value="{{option.optionID}}"
                    (change)="onItemChange($event)"
                    [disabled]="quizTaken && userRole==1">
                    {{option.optionLabel}}
                </label>
              </div>
              <div *ngSwitchCase="2" >
                  <label class="quiz-option" *ngFor="let option of question.questionOptions; let k = index;">
                      <input 
                      type="checkbox"
                      [(ngModel)]="quizAnswers.sections[i].questions[j].checkBoxTypeAnswers[k].isAnswer"
                      name="section{{i}}question{{j}}option{{k}}" 
                      value="{{option.optionID}}"
                      [disabled]="quizTaken && userRole==1">
                      {{option.optionLabel}}
                  </label>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div *ngIf="!answersValidationFlag">
    <label>Answers are not provided for some questions...</label>
  </div>
  
</div>


<!-- <div >
    <div [ngSwitch]="question.questionType">

        <input *ngSwitchCase="1" [formControlName]="question.key"
                 [type]="radio">
    
        <select  *ngSwitchCase="2" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
    
      </div> 
</div> -->