<div class="upload-box">
    <h2>
        Upload Material
    </h2>
    <!-- <div>
            <input hidden type='file' accept="application/pdf" #file1 onclick="this.value = null" (change)="onSelectPdfFile($event)">
            <button (click)="file1.click()">{{buttonText}}</button>
    </div>
    <div>
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedPdf)" width="80%" height="600px"></iframe>
    </div> -->

    <div>
        <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
        <button (click)="selectFile.click()">Select File</button>    
        <button (click)="OnUploadFile()">Upload</button>
    </div>
</div>

