<div>
    <div id="screen-heading">
        <h2>Daily Status</h2>
    </div>
    <div id="date-container">
        <div id="date-box">
                <label>{{selectedDate.toDateString()}}</label>
                <div id="date">
                        <mat-form-field id="date-input-field">
                            <input  matInput [matDatepicker]="myDatepicker" [(ngModel)]="selectedDate" (ngModelChange)="getDailyStatus()">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker>                    
                        </mat-form-field>
                </div>
         </div>
         <div *ngIf="message">
                <mat-error *ngFor="let item of message">
                        {{message}}
                </mat-error>
        </div>
</div>  
<div class="mat-elevation-z8">
    
    <table *ngIf="dailyStatusNotes" style="width: 100%;" mat-table [dataSource]="dataSource" matSort>

      
          <ng-container matColumnDef="statusNotes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Daily Status </th>
            <td  mat-cell *matCellDef="let element; let i = index"> 
                    <pre *ngIf="element.statusNotes && !editFlag[i]">{{element.statusNotes}}</pre>  
                    <button *ngIf="addNotes[i]" (click)="addNotes[i]=!addNotes[i]">Add</button>
                    <div  *ngIf="!addNotes[i] || element.statusNotes">
                            <textarea *ngIf="editFlag[i] || !element.statusNotes" class="notes-input" [(ngModel)]="editNotes[i]"> </textarea>
                            <div>
                                    <button *ngIf="!editFlag[i] && element.statusNotes" (click)="editLectureNotes(i)">Edit</button>
                                    <div>
                                        <button *ngIf="editFlag[i] || !element.statusNotes" (click)="saveNotes(i)">Save</button>
                                        <button *ngIf="editFlag[i] || !element.statusNotes" (click)="revertNotes(i)">Cancel</button>
                                    </div>
                            </div>
                    </div>
            </td>
            <td  mat-cell *matCellDef="let element"> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
      </div>
</div>

<div>
     <pre> {{note}}</pre>  
</div>