#screen-heading{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#date-container{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#current-time{
    width:33%;
}
#date-box{
    width:33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes-input{
    width: 80%;
    height: 200px;
}