<div class="transparent-form">
        <mat-card>
                <mat-card-title>Login</mat-card-title>
          <mat-card-content>
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Email" [(ngModel)]="user.email" >
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
                </mat-form-field>
              </p>
              <p *ngIf="errorMessage" class="error">
                {{ errorMessage }}
              </p>
        
              <div class="login-button">
                <button mat-button (click)="verfiyLogin()">Login</button>
              </div>
          </mat-card-content>
        </mat-card>
</div>